doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Node.js Express Application
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    script(src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js', defer)
    script(src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js', defer)
    script(src='/js/main.js', defer)
    
  body

    #app 
      v-app

        v-navigation-drawer(app)
        v-app-bar(app)
          v-app-bar-nav-icon
          v-icon(color='green') mdi-vuejs 
          v-icon(color='primary') mdi-vuetify
          v-toolbar-title ToDo


        v-main

          v-container
            v-radio-group(v-model='selectedState')
              v-radio(v-for='(state, i) in status', :key='i', :value='state.value', :label='state.label')

          v-container 
            v-card.mx-auto 
              v-data-table(:headers='headers', :items='todos', :items-per-page='3',
                loading=false, loading-text='Loading... Please wait')
                template(v-slot:item.progress='{ item }')
                  v-chip(:color='getColor(item.progress)', dark) {{ item.progress }}


        v-footer(app) Footer